
@font-face {
	font-family: MyFontName;;
	src: url(../font/ds_digital/DS-DIGI.TTF)
}

body {
	  background: url(../images/4.png) no-repeat;
	  background-position: center center;
	  background-size: 100% 100%;
	  overflow: auto;
	  background-attachment:fixed;
	 /*background-color: #1F627E;*/
	/*min-width: 1500px;*/
 }
 header {
	width: 100%;
	margin-top: 13px;
}
header h1,h5 {
	font-size: 30px;
	/* background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(0, 0, 0)), to(rgb(1, 152, 216))); */
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(244, 115, 120)), to(rgb(255, 255, 255)));
    -webkit-background-clip: text; /*必需加前缀 -webkit- 才支持这个text值 */
    -webkit-text-fill-color: transparent; /*text-fill-color会覆盖color所定义的字体颜色： */ 
	text-align: center;
	margin-bottom: 5px;
	color: #fff;
}
header,h5 {
	font-size: 12px;
}
nav {
	width: 100%;
	text-align: center;
	margin: 18px 0 0 0;
}
 nav  div {
	 /*background-color: #fff;*/
	 /*float: left;*/
	 display: inline-block;
	 margin: 0 2.6% 1.5%;
	 background: url(../images/nav_border_03.png) no-repeat;
	 background-size: 100% 100%;
	 background-position: center center;
 }

 nav  div a {
	 font-family: MyFontName;
	 display: inline-block;
	 /*background-color: pink;*/
	 padding: 7px 10px;
	 margin: 10px 20px;
	 color: #fff;
	 font-weight: 600;
	 letter-spacing: 5px;
	 /*background-color: #94D8F6;*/
	 /*filter: blur(5px);*/
 }
 .disData ul{
	 width: 100%;
	 text-align: center;
 }
.disData ul li {
	display: inline-block;
	margin: 0 2.08% 1.5%;
}
.disData ul li a {
	display: block;
	height: 50px;
	/*background-color: #fff;*/
	color: #fff;
	padding: 0 10px;
	text-decoration: none;
}
.disData ul li a span {
	display: block;
	line-height: 25px;
}
.disData ul li a span:first-child{
	font-size: 30px;
	font-weight: 600;
	font-family: MyFontName;
	background-image: -webkit-gradient(linear, left center, right center, from(rgb(190, 222, 231)), to(rgb(0, 180, 255)));
	-webkit-background-clip: text; /*必需加前缀 -webkit- 才支持这个text值 */
	-webkit-text-fill-color: transparent; /*text-fill-color会覆盖color所定义的字体颜色： */
}
.disData ul li a span:last-child {
	margin-top: 3px;
	font-size: 12px;
}
section {
	/*position: absolute;*/
	/* background-color: pink; */
	/*bottom: 0;
	right: 0;
	left: 0;
	top: 220px;*/
}


section {
	display: flex;
	justify-content: space-around;
	width: 100%;
	/*min-height: 717px;*/
	height: 717px;
	box-sizing: border-box;
	padding: 20px;
}
section>.left,section>.right{
	width: 28%;
	/*height: 48%;*/
}
@media screen and (min-width: 1200px){
	section>.left,section>.right {
		height: 48%;
	}
} 
section>.center {
	width: 38%;
	height: 100%;
	position: relative;
}
.ct1,.ct2,.ct3,.ct4,.ct5{
	/*width: 32%;*/
	width: 100%;
	height: 100%;
	/* border: 1px solid #ccc; */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: inline-block;
	background: url(../images/666_03.png) no-repeat;
	background-size: 100% 100%;
}
.ct1,.ct4 {
	margin-bottom: 5%;
}
.ct2 {
	background: none;
	height: 80%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}
.time {
	background-image: -webkit-gradient(linear, left center, right center, from(rgb(190, 222, 231)), to(rgb(0, 180, 255)));
	-webkit-background-clip: text; /*必需加前缀 -webkit- 才支持这个text值 */
	-webkit-text-fill-color: transparent; /*text-fill-color会覆盖color所定义的字体颜色： */
	font-weight: 600;
	font-family: MyFontName;
	font-size: 18px;
	position: absolute;
	top: 30px;
	right: 25px;
	width: 198px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	color: #fff;
}

.time b{
	font-size: 20px;
}

/* 首页响应式 */

@media screen and (min-width: 700px) and  (max-width: 1200px) {
	section {
		display: block;

	}
	section .center {
		width: 100%;
		height: 50%;
		margin: 0 auto;
	}
	section .center> div {
		width: 75%;
		height: 100%;
		/*margin: 0 auto;
		position: static;*/
	}
	section .left-right {
		overflow: hidden;
		width: 100%;

	}
	section .left-right .left {
		width: 45vw;
		float: left;
	}
	section .left-right .right {
		width: 45vw;
		float: right;
	}
	section .left-right .left >div, section .left-right .right>div {
		width: 100%;
		height: 30vw;	
	}
}
@media screen and (max-width: 700px) {
	section {
		display: block;
		/*display: flex*/
	}
	section>.right,section>.left {
		width: 100%;
		/*height: 200vw;*/
	}
	section>.center {
		width: 100%;
		height: 60vw;

	}
	section>.right>div,section>.left>div {
		width: 100%;
		height: 80vw;
	}

}

